* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #040D12;
    color: white;
    font-family: 'Lato';
    background-image: url("https://cdn.discordapp.com/attachments/1000393081411096677/1175322401630847086/Untitled9_20231118120001.png?ex=656acf48&is=65585a48&hm=f1f713053f05aaf682b9abc33f996a326ada03443505e8eced53bb4295748a3c&");
    background-size: cover;
}
iframe {
	margin: 0px:
	border-radius: 10px;
	border-style: solid;
	border-color: #61A3BA;
}
