@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #040D12;
    color: white;
    font-family: 'Lato';
    background-image: url("https://cdn.discordapp.com/attachments/1000393081411096677/1175322401630847086/Untitled9_20231118120001.png?ex=656acf48&is=65585a48&hm=f1f713053f05aaf682b9abc33f996a326ada03443505e8eced53bb4295748a3c&");
    background-size: cover;
}
.first-section {
    text-align: right;
    padding: 100px;
    
}
.lsd {
    position: relative;
    transition: transform 0.5s ease-in-out;
  }
  
.second-section {
    padding: 100px;
    position: relative;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 20px 5%;
    background-color: #0000002f;
    backdrop-filter: blur(15px);
}
.navbar-links {
    list-style: none;
}
.navbar-links li {
    display: inline-block;
    font-size: 17px;
    padding: 0px 20px;
}
.brand {
    float: left;
    display: flex;
    font-size: 22.5px;
    align-items: center;
    cursor: pointer;
}
.navbar-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #0216367a;
    border-radius: 25px;
}
.navbar-links li a:hover {
    color: rgb(210, 210, 233);
    background-color: #021636;
}

.logo {
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #06214D;
    width: 65px;
    height: 65px;
    margin-right: 18pxz;
}
.toggle-button {
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media(max-width: 992px){
    .toggle-button {
        display: block;
    }
    .navbar-links {
        display: fixed;
    }
}
